/* Basic Reset */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Orbitron', sans-serif;
  background: transparent;
  color: #fff;
  overflow-x: hidden;
}

/* Container */
.container {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 50px 20px;
  max-width: 1000px;
  margin: 0 auto;
  min-height: 200vh;
}

/* Header */
header h1 {
  font-size: 3em;
  color: #ff7f00;
  text-shadow: 0 0 12px #ff7f00, 0 0 24px rgba(255,127,0,0.8);
  margin-bottom: 20px;
}

header p {
  font-size: 1.1em;
  max-width: 700px;
  margin: 0 auto 50px auto;
  line-height: 1.5;
  color: #ffa64d;
  text-shadow: 0 0 6px rgba(255,160,77,0.6);
}

/* Bitcoin Box */
#btc-box {
  margin: 60px 0 80px 0;
  text-align: center;
}

#btc-box h2 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 10px;
  text-shadow: 0 0 12px #F7931A, 0 0 24px rgba(247,147,26,0.6);
}

#btc-price {
  font-size: 3rem;
  font-weight: bold;
  color: #F7931A;
  text-shadow: 0 0 20px #F7931A, 0 0 40px rgba(247,147,26,0.5);
  margin-top: -10px; /* hebt Preis etwas nach oben */
}

/* Features */
.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-bottom: 50px;
}

.feature {
  background: rgba(20,20,20,0.6);
  padding: 35px;
  border-radius: 25px;
  flex: 1 1 280px;
  max-width: 320px;
  box-shadow:
    0 0 20px rgba(255,127,0,0.9),
    0 0 40px rgba(255,127,0,0.6),
    0 0 60px rgba(255,127,0,0.3);
  border: 2px solid rgba(255,127,0,0.5);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.feature:hover {
  transform: translateY(-15px) scale(1.05);
  box-shadow:
    0 0 70px rgba(255,127,0,1),
    0 0 120px rgba(255,127,0,0.7),
    0 0 150px rgba(255,127,0,0.4);
}

.feature h2 {
  color: #ff7f00;
  margin-bottom: 12px;
  font-size: 1.3em;
  text-shadow: 0 0 12px #ff7f00, 0 0 24px rgba(255,127,0,0.8);
}

.feature p {
  color: #ffa64d;
  font-size: 0.95em;
  line-height: 1.5;
  text-shadow: 0 0 6px rgba(255,160,77,0.6);
}

/* CTA Button */
.cta-button {
  padding: 18px 40px;
  background: #ff7f00;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
  font-size: 1.2em;
  transition: 0.3s;
  text-shadow: 0 0 10px #ff7f00;
}

.cta-button:hover {
  background: #ffa64d;
  color: black;
  transform: scale(1.1);
  box-shadow: 0 0 20px #ff7f00;
}

/* Footer */
footer {
  margin-top: 60px;
  font-size: 0.9em;
  color: #888;
}

/* Canvas */
#bgCanvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* Scrollbar */
html, body {
  overflow-y: auto;
}
